torch==2.2.2
facexlib==0.2.5
realesrgan==0.2.5
numpy
opencv-python
torchvision
pytorch-lightning==2.4.0
scipy
tqdm
lmdb
pyyaml
basicsr==1.4.2
yapf
dctorch
einops
torch-ema==0.3
huggingface_hub==0.24.5
natten==0.17.1+torch220cu121 -f https://shi-labs.com/natten/wheels/
wandb
timm
huggingface_hub==0.24.5
