torch==2.4.0
torchvision==0.19.0
realesrgan==0.2.5
numpy
facexlib
opencv-python
pytorch-lightning==2.3.3
scipy
tqdm
lmdb
pyyaml
git+https://github.com/XPixelGroup/BasicSR.git@8d56e3a045f9fb3e1d8872f92ee4a4f07f886b0a
yapf
dctorch
einops
torch-ema==0.3
huggingface_hub==0.24.6
wandb
timm
torchmetrics
torch-fidelity==0.3.0
natten==0.17.1